<h2>Project Database</h2>

<div class="form-group">
  <select #newCategory>
    <option value="Photography/Video">Photography/Video</option>
    <option value="Science/Tech">Science/Tech</option>
    <option value="Food/Craft">Food & Craft</option>
    <option value="Comics/Illustration">Comics & Illustration</option>
    <option value="Games">Games</option>
  </select>
</div>
<button (click)="setFilterCategory(newCategory.value)">Toggle Filter</button>
<div *ngIf = "!filtered">
<div *ngFor="let project of projects | async"  class="card">
  <img class="card-img-top" src="{{project.imgUrl}}" alt="">
  <div class="card-body">
    <h3><em>{{project.name}}</em> - {{project.category}}</h3>
    <div *ngFor="let starter of project['starters']">
      <h6>{{starter}}</h6>
    </div>
    <button (click)="goToDetail(project)" type="button" name="button">View Project</button>
  </div>
</div>
</div>
<div *ngIf = "filtered">
  <div *ngFor="let project of projects | async">
    <div *ngIf = "project.category === filterCategory">
      <div class="card">
        <img class="card-img-top" src="{{project.imgUrl}}" alt="">
        <div class="card-body">
          <h3><em>{{project.name}}</em> - {{project.category}}</h3>
          <div *ngFor="let starter of project['starters']">
            <h6>{{starter}}</h6>
          </div>
          <button (click)="goToDetail(project)" type="button" name="button">View Project</button>
        </div>
      </div>
    </div>
  </div>
</div>
