.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

.header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
