<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand logo" routerLink="">HOME</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" routerLink="add">Add Project</a></li>
        <div *ngIf = "isLoggedIn">
          <li><a class="nav-link" routerLink="admin">Admin</a></li>
        </div>
      </ul>
      <ul class="nav navbar-nav account">
        <div *ngIf="!isLoggedIn">
          <li><a class="nav-link" (click)="login()">Log In</a></li>
        </div>
        <div *ngIf="isLoggedIn">
          <li>{{userName}}</li>
          <li><a class="nav-link" (click)="logout()">Log Out</a></li>
        </div>
      </ul>
    </div>
</nav>
