<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand logo" routerLink="">HOME</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="add">Add Project</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="photo">Photography/Video</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="food">Food/Crafts</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="games">Games</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="tech">Science/Tech</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="comics">Comics/Illustration</a></li>

        <div *ngIf = "isLoggedIn">
        </div>
      </ul>
      <ul class="nav navbar-nav right">
        <div *ngIf="!isLoggedIn">
          <li class="nav-item"><a class="nav-link" (click)="login()">Log In</a></li>
        </div>
        <div *ngIf="isLoggedIn">
          <li class="nav-item right"><a class="nav-link" routerLink="admin">Admin</a></li>
          <li class="nav-item right"><a class="nav-link" (click)="logout()">Log Out</a></li>
        </div>
      </ul>
    </div>
</nav>
