<h3>Add New Project</h3>
<div class="card">
  <div class="card-body">
  <div class="form-group">
    <label>Project Name:</label>
    <input class="form-control" #newName>
  </div>

  <div class="form-group">
    <label>Project Image:</label>
    <input placeholder="Enter Image URL here" class="form-control" #newImage>
  </div>

  <div class="form-group">
    <label>Add Starters:</label>
    <input #newStarter>
    <button (click)="addStarter(newStarter.value); newStarter.value='';" type="button" name="button">ADD</button>
    <ul>
      <div *ngFor = "let starter of starters">
        <li>{{starter}}</li>
      </div>
    </ul>
  </div>
  <div class="form-group">
    <label>Project Description:</label>
    <br>
    <textarea class="form-control" #newDescription></textarea>
  </div>
  <div class="form-group">
    <label>Project Goal:</label>
    <br>
    <input class="form-control" type="number" #newGoal>
  </div>
  <div class="form-group">
    <label>Plans For Money:</label>
    <br>
    <textarea class="form-control" #newPlans></textarea>
  </div>
  <div>
    <label>Swag?</label>
    <br>
    <input class="form-control" #newSwag type="checkbox" value="true">
  </div>
  <div class="form-group">
    <select class="form-control" #newCategory>
      <option value="Photography/Video">Photography/Video</option>
      <option value="Science/Technology">Science/Technology</option>
      <option value="Food/Craft">Food & Craft</option>
      <option value="Comics/Illustration">Comics & Illustration</option>
      <option value="Games">Games</option>
    </select>
  </div>
  <button (click)="addProject(newName.value, newDescription.value, newGoal.value, newPlans.value, newSwag.value, newCategory.value, newImage.value); newName.value=''; newDescription.value=''; newGoal.value=''; newPlans.value=''; newImage.value=''" routerLink='' type="button" name="button">ADD</button>
  </div>
</div>
