<div class="card">
  <div class="card-body">
    <h2>{{projectToDisplay?.name}} - {{projectToDisplay?.category}}</h2>
    <h5>Funding Goal: {{projectToDisplay?.goal}}</h5>
    <h5>Total Funding: {{projectToDisplay?.fundsRaised}}</h5>
    <progress-bar [progress]="percentFunded"></progress-bar>


    <h5>Starters:</h5>
    <ul>
      <div *ngFor= "let starter of projectToDisplay?.starters">
        <li>{{starter}}</li>
      </div>
    </ul>
    <h5>Project Description:</h5>
    <p>{{projectToDisplay?.desc}}</p>

    <h5>Plans After Funding:</h5>
    <p>{{projectToDisplay?.plans}}</p>


    <div class="form-group">
      <label>Donate Amount:</label>
      <input type="number" #amount>
    </div>
    <button (click)="fundProject(amount.value)">Fund Project!</button>
  </div>
</div>
